{% extends 'back.html' %}
{% block title %} 就日記阿 {% endblock %}
{% block content %}

<div class="row row-cols-3 row-cols-md-3 g-5">
{% for post in post_list %}  
      <div class="col">
            <div class=" diary-card hvr-grow">
                  {% if post.photo %}<img src="{{post.photo.url}}" class="card-img-top diary-img " alt="...">{% endif %}
                  <div class="card-body">
                        <h2 class="card-title">{{post.title}}</h2>
                        <h5>{{post.created_at}}</h5>
                        <p class="card-text">{{post.content|linebreaks}}</p>
                  </div>
            </div>
      </div>
{% endfor %}
</div>



{% endblock %}